/**
 * It's template to config this chrome extension
 * 1> require a access token, and set
 * 2> change file name to env.js
 * 3> enable it in chrome
 */
const accessToken="xxx"//[required], login to bridge.qili2.com to require
const helper="tester"//[optional]any name
const OPENAI_API_KEY=""//[optional]

//Don't change
const api=""//[required] don't change
const apiKey="bridge"//[required] don't change
